* {
  font-family: 'Lora', serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #241194;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #9580ce;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links ul li {
  padding: 0 15px;
  line-height: 1.7;
  font-size: 16px;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
}

.nav-links ul li a:hover {
  color: #818181;
}

.nav-links ul li .dropdown-menu {
  display: none;
}

.nav-links ul li .dropdown-menu ul {
  display: block;
  width: 210px;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}

.nav-links ul li .dropdown-menu ul li {
  padding: 10px 30px;
}

.nav-links ul li .dropdown-menu ul li a {
  font-size: 16px;
  color: #818181;
  cursor: pointer;
}

.nav-links ul li:hover .dropdown-menu {
  display: block;
}

.nav-links ul .getapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fc5185;
  height: 41px;
  width: 219px;
}

.nav-links ul .getapp a {
  padding-left: 12px;
  cursor: cell;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-links ul .getapp svg {
  margin-left: 16px;
}

.nav-links ul .getapp span {
  position: absolute;
  background: #f98faf;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 3s linear;
  transition: 3s linear;
}

.pro-dental {
  height: 100vh;
  background-color: #241194;
}

.pro-dental .pro-dental-svg .plus-icon1 {
  left: 60%;
  top: 15%;
}

.pro-dental .pro-dental-svg .plus-icon {
  -webkit-animation: zoomIn 2s infinite alternate;
          animation: zoomIn 2s infinite alternate;
  position: absolute;
}

.pro-dental .pro-dental-svg svg {
  overflow: hidden;
  vertical-align: middle;
}

.pro-dental .pro-dental-svg .svg,
.pro-dental .pro-dental-svg img {
  max-width: 100%;
  height: auto;
}

.pro-dental .pro-dental-svg .plus-icon2 {
  right: 10%;
  top: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.pro-dental .pro-dental-svg .plus-icon3 {
  right: 5%;
  top: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.pro-dental .pro-dental-svg .plus-icon4 {
  right: 10%;
  top: 75%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.pro-dental .pro-dental-svg .plus-icon5 {
  left: 5%;
  top: 50%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.pro-dental .pro-dental-svg .plus-icon6 {
  left: 20%;
  top: 20%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.pro-dental .pro-dental-svg .circle-icon1 {
  left: 5%;
  top: 30%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.pro-dental .pro-dental-svg .circle-icon {
  -webkit-animation: matrix 8s infinite alternate;
          animation: matrix 8s infinite alternate;
  position: absolute;
}

.pro-dental .pro-dental-svg .circle-icon2 {
  left: 40%;
  bottom: 10%;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
    transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
    transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
    transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
    transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
    transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
    transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.pro-dental-txt {
  color: white;
  top: 50px;
}

.pro-dental-txt h1 {
  font-size: 60px;
  margin-bottom: 22px;
}

.pro-dental-txt p {
  margin-bottom: 56px;
  line-height: 1.7;
}

.pro-dental-txt .our-services-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.pro-dental-txt a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  cursor: cell;
  font-weight: 400;
}

.pro-dental .container {
  height: 100%;
}

.pro-dental .container .row {
  height: 100%;
}

.pro-dental .container .row .pro-dental-img {
  position: relative;
}

.pro-dental .container .row .pro-dental-img .pro-dental-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: zoom-fade 5s linear 0s infinite;
          animation: zoom-fade 5s linear 0s infinite;
  z-index: -1;
}

@-webkit-keyframes zoom-fade {
  0% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
}

@keyframes zoom-fade {
  0% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
}

.pro-dental .container .row .pro-dental-img .dental-images {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pro-dental .container .row .pro-dental-img .dental-images img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.pro-dental .container .row .pro-dental-img .dental-images .dents-img {
  position: absolute;
}

.pro-dental .container .row .pro-dental-img .dental-images .dent-man {
  position: absolute;
  -webkit-animation: matrix 8s 2s infinite alternate;
          animation: matrix 8s 2s infinite alternate;
  left: -45px;
  padding-top: 212px;
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
            transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
            transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
            transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.welcome {
  position: relative;
}

.welcome .welcome-svg {
  position: relative;
  height: 100vh;
}

.welcome .welcome-svg .plus-icon1 {
  left: 60%;
  top: 15%;
}

.welcome .welcome-svg .plus-icon {
  -webkit-animation: zoomIn 2s infinite alternate;
          animation: zoomIn 2s infinite alternate;
  position: absolute;
}

.welcome .welcome-svg svg {
  overflow: hidden;
  vertical-align: middle;
}

.welcome .welcome-svg .svg,
.welcome .welcome-svg img {
  max-width: 100%;
  height: auto;
}

.welcome .welcome-svg .plus-icon2 {
  right: 10%;
  top: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.welcome .welcome-svg .plus-icon3 {
  right: 5%;
  top: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.welcome .welcome-svg .plus-icon4 {
  right: 10%;
  top: 75%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.welcome .welcome-svg .plus-icon5 {
  left: 5%;
  top: 50%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.welcome .welcome-svg .plus-icon6 {
  left: 20%;
  top: 20%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.welcome .welcome-svg .circle-icon1 {
  left: 5%;
  top: 30%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.welcome .welcome-svg .circle-icon {
  -webkit-animation: matrix 8s infinite alternate;
          animation: matrix 8s infinite alternate;
  position: absolute;
}

.welcome .welcome-svg .circle-icon2 {
  left: 40%;
  bottom: 10%;
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
    transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
    transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
    transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.welcome .container {
  position: absolute;
  height: 100%;
  top: 20%;
}

.welcome .container .row .welcome-left {
  position: relative;
  left: 102px;
}

.welcome .container .row .welcome-left .round-svg {
  width: 100%;
  position: absolute;
  -webkit-animation: spinner-border 80s linear 0s infinite;
          animation: spinner-border 80s linear 0s infinite;
}

.welcome .container .row .welcome-left .round-svg svg {
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

@-webkit-keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.welcome .container .row .welcome-left .welcome-box {
  background-color: white;
  padding: 50px 29px;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 7px 45px rgba(0, 0, 0, 0.04);
          box-shadow: 10px 7px 45px rgba(0, 0, 0, 0.04);
}

.welcome .container .row .welcome-left .welcome-box:hover {
  background-color: #241194;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.welcome .container .row .welcome-left .welcome-box:hover h3 {
  color: white;
}

.welcome .container .row .welcome-left .welcome-box:hover a {
  color: white;
}

.welcome .container .row .welcome-left .welcome-box:hover span {
  color: white;
}

.welcome .container .row .welcome-left .welcome-box:hover .svg-hover {
  color: white;
}

.welcome .container .row .welcome-left .welcome-box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

.welcome .container .row .welcome-left .welcome-box span {
  line-height: 1.5;
}

.welcome .container .row .welcome-left .welcome-box span a {
  text-decoration: none;
  color: black;
}

.welcome .container .row .welcome-left .call-us {
  top: 135px;
}

.welcome .container .row .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 140px;
  padding: 54px 61px;
}

.welcome .container .row .welcome-text h1 {
  font-size: 48px;
  text-align: left;
  line-height: 1.15;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.welcome .container .row .welcome-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  font-family: 'Lora', serif;
}

.welcome .container .row .welcome-text a {
  color: #fc5185;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  top: 20px;
}

.dental-treatment .treatment {
  padding-top: 140px;
}

.dental-treatment .treatment .row .treatment-title {
  width: 100%;
}

.dental-treatment .treatment .row .treatment-title h1 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.dental-treatment .treatment .treatment-service .col-md-4:hover .treatment-name {
  background-color: #fc5185;
  -webkit-transition: 1s;
  transition: 1s;
}

.dental-treatment .treatment .treatment-service .col-md-4:hover .treatment-name a {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.dental-treatment .treatment .treatment-service .treatment-name {
  padding: 30px 10px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -4px;
}

.dental-treatment .treatment .treatment-service .treatment-name a {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  font-size: 23px;
  font-weight: 700;
}

.our-best-spec {
  position: relative;
}

.our-best-spec .our-best-svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.our-best-spec .our-best-svg .plus-icon1 {
  left: 60%;
  top: 15%;
}

.our-best-spec .our-best-svg .plus-icon {
  -webkit-animation: zoomIn 2s infinite alternate;
          animation: zoomIn 2s infinite alternate;
  position: absolute;
}

.our-best-spec .our-best-svg svg {
  overflow: hidden;
  vertical-align: middle;
}

.our-best-spec .our-best-svg .svg,
.our-best-spec .our-best-svg img {
  max-width: 100%;
  height: auto;
}

.our-best-spec .our-best-svg .plus-icon2 {
  right: 10%;
  top: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.our-best-spec .our-best-svg .plus-icon3 {
  right: 5%;
  top: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.our-best-spec .our-best-svg .plus-icon4 {
  right: 10%;
  top: 75%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.our-best-spec .our-best-svg .plus-icon5 {
  left: 5%;
  top: 50%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.our-best-spec .our-best-svg .plus-icon6 {
  left: 20%;
  top: 20%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.our-best-spec .our-best-svg .circle-icon1 {
  left: 5%;
  top: 30%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.our-best-spec .our-best-svg .circle-icon {
  -webkit-animation: matrix 8s infinite alternate;
          animation: matrix 8s infinite alternate;
  position: absolute;
}

.our-best-spec .our-best-svg .circle-icon2 {
  left: 40%;
  bottom: 10%;
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
    transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
    transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
    transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.our-best-spec .container {
  height: 100%;
}

.our-best-spec .container .row {
  position: relative;
}

.our-best-spec .container .row .our-best-left {
  position: relative;
  top: 100px;
}

.our-best-spec .container .row .our-best-left .our-best-title h2 {
  font-size: 48px;
  text-align: left;
  line-height: 1.15;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.our-best-spec .container .row .our-best-left .our-best-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  font-family: 'Lora', serif;
}

.our-best-spec .container .row .our-best-left .our-best-text a {
  color: #fc5185;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.our-best-spec .container .row .our-best-right .row .our-best-box1,
.our-best-spec .container .row .our-best-right .row .our-best-box2 {
  -webkit-box-shadow: 10px 7px 45px rgba(0, 0, 0, 0.04);
          box-shadow: 10px 7px 45px rgba(0, 0, 0, 0.04);
  padding: 42px 30px;
  margin-bottom: 30px;
}

.our-best-spec .container .row .our-best-right .row .our-best-box1 .box1-text h3,
.our-best-spec .container .row .our-best-right .row .our-best-box2 .box1-text h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.our-best-spec .container .row .our-best-right .row .our-best-box1 .box1-text p,
.our-best-spec .container .row .our-best-right .row .our-best-box2 .box1-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  font-family: Lora, serif;
  font-weight: 400;
  text-align: left;
}

.our-best-spec .container .row .our-best-right .row .our-best-double {
  top: 65px;
}

.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box3,
.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box4 {
  -webkit-box-shadow: 10px 7px 45px rgba(0, 0, 0, 0.04);
          box-shadow: 10px 7px 45px rgba(0, 0, 0, 0.04);
  padding: 42px 30px;
  margin-bottom: 30px;
}

.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box3 .box3-text h3,
.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box3 .box4-text h3,
.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box4 .box3-text h3,
.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box4 .box4-text h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box3 .box3-text p,
.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box3 .box4-text p,
.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box4 .box3-text p,
.our-best-spec .container .row .our-best-right .row .our-best-double .our-best-box4 .box4-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  font-family: Lora, serif;
  font-weight: 400;
  text-align: left;
}

.discount {
  background-color: #241194;
  position: relative;
  height: 100%;
  width: 100%;
  top: 100px;
}

.discount .discount-svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.discount .discount-svg .plus-icon1 {
  left: 60%;
  top: 15%;
}

.discount .discount-svg .plus-icon {
  -webkit-animation: zoomIn 2s infinite alternate;
          animation: zoomIn 2s infinite alternate;
  position: absolute;
}

.discount .discount-svg svg {
  overflow: hidden;
  vertical-align: middle;
}

.discount .discount-svg .svg,
.discount .discount-svg img {
  max-width: 100%;
  height: auto;
}

.discount .discount-svg .plus-icon2 {
  right: 10%;
  top: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.discount .discount-svg .plus-icon3 {
  right: 5%;
  top: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.discount .discount-svg .plus-icon4 {
  right: 10%;
  top: 75%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.discount .discount-svg .plus-icon5 {
  left: 5%;
  top: 50%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.discount .discount-svg .plus-icon6 {
  left: 20%;
  top: 20%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.discount .discount-svg .circle-icon1 {
  left: 5%;
  top: 30%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.discount .discount-svg .circle-icon {
  -webkit-animation: matrix 8s infinite alternate;
          animation: matrix 8s infinite alternate;
  position: absolute;
}

.discount .discount-svg .circle-icon2 {
  left: 40%;
  bottom: 10%;
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
    transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
    transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
    transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.discount .container {
  padding-top: 90px;
  padding-bottom: 70px;
}

.discount .container .row {
  position: relative;
}

.discount .container .row .discount-left {
  padding-top: 40px;
}

.discount .container .row .discount-left h1 {
  color: white;
  font-size: 40px;
  line-height: 1.25;
  font-family: "Josefin Sans", sans-serif;
}

.discount .container .row .discount-left .discount-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fc5185;
  height: 60px;
  width: 220px;
  top: 50px;
}

.discount .container .row .discount-left .discount-btn svg {
  margin-left: 32px;
}

.discount .container .row .discount-left .discount-btn a {
  padding-left: 12px;
  cursor: cell;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.discount .container .row .discount-left .discount-btn span {
  position: absolute;
  background: #f98faf;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 3s linear;
  transition: 3s linear;
}

.discount .container .row .discount-right {
  padding-left: 60px;
}

.meet-our {
  padding-top: 200px;
  position: relative;
}

.meet-our .container .row {
  position: relative;
}

.meet-our .container .row .meet-our-svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.meet-our .container .row .meet-our-svg .plus-icon1 {
  left: 60%;
  top: 15%;
}

.meet-our .container .row .meet-our-svg .plus-icon {
  -webkit-animation: zoomIn 2s infinite alternate;
          animation: zoomIn 2s infinite alternate;
  position: absolute;
}

.meet-our .container .row .meet-our-svg svg {
  overflow: hidden;
  vertical-align: middle;
}

.meet-our .container .row .meet-our-svg .svg,
.meet-our .container .row .meet-our-svg img {
  max-width: 100%;
  height: auto;
}

.meet-our .container .row .meet-our-svg .plus-icon2 {
  right: 10%;
  top: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.meet-our .container .row .meet-our-svg .plus-icon3 {
  right: 5%;
  top: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.meet-our .container .row .meet-our-svg .plus-icon4 {
  right: 10%;
  top: 75%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.meet-our .container .row .meet-our-svg .plus-icon5 {
  left: 5%;
  top: 50%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.meet-our .container .row .meet-our-svg .plus-icon6 {
  left: 20%;
  top: 20%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.meet-our .container .row .meet-our-svg .circle-icon1 {
  left: 5%;
  top: 30%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.meet-our .container .row .meet-our-svg .circle-icon {
  -webkit-animation: matrix 8s infinite alternate;
          animation: matrix 8s infinite alternate;
  position: absolute;
}

.meet-our .container .row .meet-our-svg .circle-icon2 {
  left: 40%;
  bottom: 10%;
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
    transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
    transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
    transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.meet-our .container .row .meet-our-right {
  position: relative;
}

.meet-our .container .row .meet-our-right .meet-our-name1 {
  text-align: center;
  padding-top: 40px;
}

.meet-our .container .row .meet-our-right .meet-our-name1 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.meet-our .container .row .meet-our-right .meet-our-name1 a:hover {
  color: #fc5185;
}

.meet-our .container .row .meet-our-right .meet-our-name1 p {
  color: #818181;
  font-family: Lora, serif;
  font-size: 16px;
  line-height: 1.7;
}

.meet-our .container .row .meet-our-right .meet-our-circle {
  position: absolute;
  top: -32%;
  left: 0;
  width: 100%;
}

.meet-our .container .row .meet-our-right .meet-our-circle svg {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
  -webkit-animation: spinner-border 80s linear 0s infinite;
          animation: spinner-border 80s linear 0s infinite;
}

@keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.meet-our .container .row .meet-our-left h1 {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
}

.meet-our .container .row .meet-our-text p {
  font-family: Lora, serif;
  color: #818181;
  font-size: 16px;
  line-height: 1.7;
}

.meet-our .container .row .meet-our-text a {
  color: #fc5185;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.our-patients {
  margin-top: 140px;
  position: relative;
}

.our-patients .container .row {
  position: relative;
}

.our-patients .container .row .patients-circle {
  position: absolute;
}

.our-patients .container .row .patients-circle svg {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
  -webkit-animation: spinner-border 80s linear 0s infinite;
          animation: spinner-border 80s linear 0s infinite;
}

@keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.our-patients .container .row .patients-title {
  text-align: center;
}

.our-patients .container .row .patients-title h2 {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
}

.our-patients .container .row .owl-carousel .item {
  width: 517px;
  height: 360px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.our-patients .container .row .owl-carousel .item .owl-patients .row {
  padding-top: 35px;
  padding-left: 30px;
}

.our-patients .container .row .owl-carousel .item .owl-patients .row .col-md-2 {
  margin-right: 25px;
}

.our-patients .container .row .owl-carousel .item .owl-patients .row .col-md-2 img {
  border-radius: 50%;
  width: 95px;
  height: 95px;
}

.our-patients .container .row .owl-carousel .item .owl-patients .row .col-md-6 {
  top: -15px;
}

.our-patients .container .row .owl-carousel .item .owl-patients .row .col-md-6 p:first-child {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 1;
}

.our-patients .container .row .owl-carousel .item .owl-patients .row .col-md-6 p:nth-child(2) {
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  font-family: Lora, serif;
  margin-top: -25px;
}

.our-patients .container .row .owl-carousel .item .owl-patients .col-md-10 {
  font-family: Lora, serif;
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  padding-left: 60px;
}

.latest-news {
  position: relative;
}

.latest-news .container .row .latest-svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.latest-news .container .row .latest-svg .plus-icon1 {
  left: 60%;
  top: 15%;
}

.latest-news .container .row .latest-svg .plus-icon {
  -webkit-animation: zoomIn 2s infinite alternate;
          animation: zoomIn 2s infinite alternate;
  position: absolute;
}

.latest-news .container .row .latest-svg svg {
  overflow: hidden;
  vertical-align: middle;
}

.latest-news .container .row .latest-svg .svg,
.latest-news .container .row .latest-svg img {
  max-width: 100%;
  height: auto;
}

.latest-news .container .row .latest-svg .plus-icon2 {
  right: 10%;
  top: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.latest-news .container .row .latest-svg .plus-icon3 {
  right: 5%;
  top: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.latest-news .container .row .latest-svg .plus-icon4 {
  right: 10%;
  top: 75%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.latest-news .container .row .latest-svg .plus-icon5 {
  left: 5%;
  top: 50%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.latest-news .container .row .latest-svg .plus-icon6 {
  left: 20%;
  top: 20%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.latest-news .container .row .latest-svg .circle-icon1 {
  left: 5%;
  top: 30%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.latest-news .container .row .latest-svg .circle-icon {
  -webkit-animation: matrix 8s infinite alternate;
          animation: matrix 8s infinite alternate;
  position: absolute;
}

.latest-news .container .row .latest-svg .circle-icon2 {
  left: 40%;
  bottom: 10%;
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  25% {
    -webkit-transform: matrix(1, 0, 0, 1, 15, 20);
    transform: matrix(1, 0, 0, 1, 15, 20);
  }
  50% {
    -webkit-transform: matrix(1, 0, 0, 1, -5, 25);
    transform: matrix(1, 0, 0, 1, -5, 25);
  }
  75% {
    -webkit-transform: matrix(1, 0, 0, 1, -15, 15);
    transform: matrix(1, 0, 0, 1, -15, 15);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.latest-news .container .row .latest-title {
  text-align: center;
}

.latest-news .container .row .latest-title h2 {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
}

.latest-news .container .row .latest-box {
  -webkit-box-shadow: 18px 7px 45px rgba(0, 0, 0, 0.04);
          box-shadow: 18px 7px 45px rgba(0, 0, 0, 0.04);
}

.latest-news .container .row .latest-box .latest-img a img {
  width: 100%;
}

.latest-news .container .row .latest-box .latest-content {
  padding: 10px 90px 30px 45px;
}

.latest-news .container .row .latest-box .latest-content h3 a {
  text-decoration: none;
  color: black;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}

.latest-news .container .row .latest-box .latest-content a {
  color: #fc5185;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */