* {
	font-family: 'Lora', serif;
}
.header {
	background-color: #241194;
	min-height: 100px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(149, 128, 206);
}

.nav-links {
	display: flex;

	ul {
		list-style: none;
		display: flex;
		li {
			padding: 0 15px;
			line-height: 1.7;
			font-size: 16px;
			a {
				color: white;
				text-decoration: none;
				&:hover {
					color: #818181;
				}
			}
			.dropdown-menu {
				display: none;
				ul {
					display: block;
					width: 210px;
					position: absolute;
					background-color: white;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					padding: 15px 0;
					li {
						padding: 10px 30px;
						a {
							font-size: 16px;
							color: #818181;
							cursor: pointer;
						}
					}
				}
			}
			&:hover .dropdown-menu {
				display: block;
			}
		}
		.getapp {
			display: flex;
			align-items: center;
			position: relative;
			a {
				padding-left: 12px;
				cursor: cell;
				font-weight: 400;
			}
			span {
				position: absolute;
				background: #f98faf;
				width: 0;
				height: 0;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: 3s linear;
			}
		}
	}
}

.pro-dental {
	height: 100vh;
	background-color: #241194;
	.pro-dental-svg {
		.plus-icon1 {
			left: 60%;
			top: 15%;
		}

		.plus-icon {
			animation: zoomIn 2s infinite alternate;
			position: absolute;
		}
		svg {
			overflow: hidden;
			vertical-align: middle;
		}
		.svg,
		img {
			max-width: 100%;
			height: auto;
		}
		.plus-icon2 {
			right: 10%;
			top: 25%;
			animation-delay: 1s;
		}
		.plus-icon3 {
			right: 5%;
			top: 50%;
			animation-delay: 2s;
		}
		.plus-icon4 {
			right: 10%;
			top: 75%;
			animation-delay: 3s;
		}
		.plus-icon5 {
			left: 5%;
			top: 50%;
			animation-delay: 4s;
		}
		.plus-icon6 {
			left: 20%;
			top: 20%;
			animation-delay: 5s;
		}
		.circle-icon1 {
			left: 5%;
			top: 30%;
			animation-delay: 6s;
		}
		.circle-icon {
			animation: matrix 8s infinite alternate;
			position: absolute;
		}
		.circle-icon2 {
			left: 40%;
			bottom: 10%;
		}
		@keyframes zoomIn {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
		@keyframes matrix {
			0% {
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
			25% {
				-webkit-transform: matrix(1, 0, 0, 1, 15, 20);
				transform: matrix(1, 0, 0, 1, 15, 20);
			}
			50% {
				-webkit-transform: matrix(1, 0, 0, 1, -5, 25);
				transform: matrix(1, 0, 0, 1, -5, 25);
			}
			75% {
				-webkit-transform: matrix(1, 0, 0, 1, -15, 15);
				transform: matrix(1, 0, 0, 1, -15, 15);
			}
			100% {
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
		}
	}
}
.pro-dental-txt {
	color: white;
	top: 50px;
	h1 {
		font-size: 60px;
		margin-bottom: 22px;
	}
	p {
		margin-bottom: 56px;
		line-height: 1.7;
	}
	.our-services-btn {
		align-items: center;
		position: relative;
	}
	a {
		text-decoration: none;
		color: white;
		padding-left: 10px;
		cursor: cell;
		font-weight: 400;
	}
}
.pro-dental {
	.container {
		height: 100%;
		.row {
			height: 100%;
			.pro-dental-img {
				position: relative;
				.pro-dental-svg {
					position: absolute;
					width: 100%;
					height: 100%;
					animation: zoom-fade 5s linear 0s infinite;
					z-index: -1;
				}
				@keyframes zoom-fade {
					0% {
						transform: scale(.97);
					}
					50% {
						transform: scale(1);
					}
					100% {
						transform: scale(.97);
					}
				}
				.dental-images {
					position: relative;
					height: 100%;
					display: flex;
					img {
						vertical-align: middle;
						border-style: none;
						max-width: 100%;
					}
					.dents-img {
						position: absolute;
					}
					.dent-man {
						position: absolute;
						animation: matrix 8s 2s infinite alternate;
						left: -45px;
						padding-top: 212px;
					}
					@keyframes matrix {
						0% {
							transform: matrix(1, 0, 0, 1, 0, 0);
						}
						25% {
							transform: matrix(1, 0, 0, 1, 15, 20);
						}
						50% {
							transform: matrix(1, 0, 0, 1, -5, 25);
						}
						75% {
							transform: matrix(1, 0, 0, 1, -15, 15);
						}
						100% {
							transform: matrix(1, 0, 0, 1, 0, 0);
						}
					}
				}
			}
		}
	}
}
.welcome {
	position: relative;
	.welcome-svg {
		position: relative;
		height: 100vh;
		.plus-icon1 {
			left: 60%;
			top: 15%;
		}

		.plus-icon {
			animation: zoomIn 2s infinite alternate;
			position: absolute;
		}
		svg {
			overflow: hidden;
			vertical-align: middle;
		}
		.svg,
		img {
			max-width: 100%;
			height: auto;
		}
		.plus-icon2 {
			right: 10%;
			top: 25%;
			animation-delay: 1s;
		}
		.plus-icon3 {
			right: 5%;
			top: 50%;
			animation-delay: 2s;
		}
		.plus-icon4 {
			right: 10%;
			top: 75%;
			animation-delay: 3s;
		}
		.plus-icon5 {
			left: 5%;
			top: 50%;
			animation-delay: 4s;
		}
		.plus-icon6 {
			left: 20%;
			top: 20%;
			animation-delay: 5s;
		}
		.circle-icon1 {
			left: 5%;
			top: 30%;
			animation-delay: 6s;
		}
		.circle-icon {
			animation: matrix 8s infinite alternate;
			position: absolute;
		}
		.circle-icon2 {
			left: 40%;
			bottom: 10%;
		}
		@keyframes zoomIn {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
		@keyframes matrix {
			0% {
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
			25% {
				-webkit-transform: matrix(1, 0, 0, 1, 15, 20);
				transform: matrix(1, 0, 0, 1, 15, 20);
			}
			50% {
				-webkit-transform: matrix(1, 0, 0, 1, -5, 25);
				transform: matrix(1, 0, 0, 1, -5, 25);
			}
			75% {
				-webkit-transform: matrix(1, 0, 0, 1, -15, 15);
				transform: matrix(1, 0, 0, 1, -15, 15);
			}
			100% {
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
		}
	}
	.container {
		position: absolute;
		height: 100%;
		top: 20%;
		.row {
			.welcome-left {
				position: relative;
				left: 102px;
				.round-svg {
					width: 100%;
					position: absolute;
					animation: spinner-border 80s linear 0s infinite;
					svg {
						max-width: 100%;
						overflow: hidden;
						vertical-align: middle;
					}
				}
				@keyframes spinner-border {
					100% {
						transform: rotate(360deg);
					}
				}
				.welcome-box {
					background-color: white;
					padding: 50px 29px;
					margin-bottom: 30px;
					box-shadow: 10px 7px 45px rgba(0, 0, 0, .04);
					&:hover {
						background-color: #241194;
						transition: 0.5s;
					}
					&:hover h3 {
						color: white;
					}
					&:hover a {
						color: white;
					}
					&:hover span {
						color: white;
					}
					&:hover .svg-hover {
						color: white;
					}
					h3 {
						font-size: 24px;
						font-weight: 700;
						line-height: 1;
						font-family: "Josefin Sans", sans-serif;
					}
					span {
						line-height: 1.5;
						a {
							text-decoration: none;
							color: black;
						}
					}
				}
				.call-us {
					top: 135px;
				}
			}
			.welcome-text {
				display: flex;
				align-self: center;
				flex-direction: column;
				left: 140px;
				padding: 54px 61px;
				h1 {
					font-size: 48px;
					text-align: left;
					line-height: 1.15;
					font-weight: bold;
					font-family: "Josefin Sans", sans-serif;
				}
				p {
					font-size: 16px;
					line-height: 1.7;
					color: #818181;
					font-family: 'Lora', serif;
				}
				a {
					color: #fc5185;
					cursor: pointer;
					font-weight: bold;
					text-decoration: none;
					font-size: 16px;
					top: 20px;
				}
			}
		}
	}
}

.dental-treatment {
	.treatment {
		padding-top: 140px;
		.row {
			.treatment-title {
				width: 100%;
				h1 {
					text-align: center;
					font-family: "Josefin Sans", sans-serif;
					font-weight: bold;
					font-size: 40px;
				}
			}
		}
		.treatment-service {
			&:hover .treatment-name {
				background-color: #fc5185;
				transition: 1s;
			}
			&:hover .treatment-name a {
				color: white;
				transition: 1s;
			}

			.treatment-name {
				padding: 30px 10px;
				text-align: center;
				margin-bottom: 20px;
				margin-top: -4px;
				a {
					color: black;
					font-family: "Josefin Sans", sans-serif;
					text-decoration: none;
					font-size: 23px;
					font-weight: 700;
				}
			}
		}
	}
}
.our-best-spec {
	position: relative;
	.our-best-svg {
		position: absolute;
		top: 50%;

		left: 0;
		width: 100%;

		.plus-icon1 {
			left: 60%;
			top: 15%;
		}

		.plus-icon {
			animation: zoomIn 2s infinite alternate;
			position: absolute;
		}
		svg {
			overflow: hidden;
			vertical-align: middle;
		}
		.svg,
		img {
			max-width: 100%;
			height: auto;
		}
		.plus-icon2 {
			right: 10%;
			top: 25%;
			animation-delay: 1s;
		}
		.plus-icon3 {
			right: 5%;
			top: 50%;
			animation-delay: 2s;
		}
		.plus-icon4 {
			right: 10%;
			top: 75%;
			animation-delay: 3s;
		}
		.plus-icon5 {
			left: 5%;
			top: 50%;
			animation-delay: 4s;
		}
		.plus-icon6 {
			left: 20%;
			top: 20%;
			animation-delay: 5s;
		}
		.circle-icon1 {
			left: 5%;
			top: 30%;
			animation-delay: 6s;
		}
		.circle-icon {
			animation: matrix 8s infinite alternate;
			position: absolute;
		}
		.circle-icon2 {
			left: 40%;
			bottom: 10%;
		}
		@keyframes zoomIn {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
		@keyframes matrix {
			0% {
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
			25% {
				-webkit-transform: matrix(1, 0, 0, 1, 15, 20);
				transform: matrix(1, 0, 0, 1, 15, 20);
			}
			50% {
				-webkit-transform: matrix(1, 0, 0, 1, -5, 25);
				transform: matrix(1, 0, 0, 1, -5, 25);
			}
			75% {
				-webkit-transform: matrix(1, 0, 0, 1, -15, 15);
				transform: matrix(1, 0, 0, 1, -15, 15);
			}
			100% {
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
		}
	}

	.container {
		
		height: 100%;
		.row {
			position: relative;
			.our-best-left {
				position: relative;
				.our-best-title {
					h2 {
						font-size: 48px;
						text-align: left;
						line-height: 1.15;
						font-weight: bold;
						font-family: "Josefin Sans", sans-serif;
					}
				}
				.our-best-text {
					p {
						font-size: 16px;
						line-height: 1.7;
						color: #818181;
						font-family: 'Lora', serif;
					}
					a {
						color: #fc5185;
						cursor: pointer;
						font-weight: bold;
						text-decoration: none;
						font-size: 16px;
					}
				}
			}
		}
	}
}
